<p id="notice"><%= notice %></p>

<h1>Merchants</h1>
<%= form_tag url_for(action: :index), { method: :get } do %>
  <div class="field">
    <%= label_tag 'Filter by name:' %>
    <%= text_field_tag :name_filter %>
    <%= submit_tag 'Filter' %>
  </div>

<% end %>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>City</th>
      <th>Street</th>
      <th>Country code</th>
      <th>Extra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @merchants.each do |merchant| %>
      <tr>
        <td><%= merchant.email %></td>
        <td><%= merchant.name %></td>
        <td><%= merchant.city %></td>
        <td><%= merchant.street %></td>
        <td><%= merchant.country_code %></td>
        <td><%= merchant.extra %></td>
        <td><%= link_to 'Show', merchant %></td>
        <td><%= link_to 'Edit', edit_merchant_path(merchant) %></td>
        <td><%= link_to 'Destroy', merchant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Merchant', new_merchant_path %>
