<div class="login-actions">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Email:</strong>
    <%= @merchant.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @merchant.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @merchant.city %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= @merchant.street %>
  </p>

  <p>
    <strong>Country code:</strong>
    <%= @merchant.country_code %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= @merchant.phone_number %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= @merchant.website %>
  </p>


  <%= link_to 'Edit', edit_merchant_path(@merchant) %> |
  <%= link_to 'Back', merchants_path %>

</div>