<!DOCTYPE html>
<html>
  <head>
    <title>Merchants</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <br>
  <div class="signed-as">
    <% if current_merchant %>
      Signed in as: <%= current_merchant.email %>.
      <%= link_to 'Sign Out', destroy_merchant_session_path, :method => :delete  %>
    <% end %>
  </div>
    <%= yield %>
  </body>
</html>
